ul#jogadorEscolha li a:hover,
ul#jogadorEscolha li a.selecionado
ul#computadorEscolha li a.selecionado {
opacity: 1;
}

ul#jogadorEscolha li a,
ul#computadorEscolha li a{
    opacity: 0.2;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    background-color: #74ffda;
    font-family: Arial, sans-serif;
}

#principal {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgb(101, 209, 255);
}

#titulo {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#jogador,
#computador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jogadorNome,
#computadorNome {
    color: #666;
    margin-bottom: 10px;
}

#jogadorPontos,
#computadorPontos {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#jogadorEscolha,
#computadorEscolha {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

#jogadorEscolha img,
#computadorEscolha img {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#jogadorEscolha img:hover,
#computadorEscolha img:hover {
    transform: scale(1.1);
}

#versus {
    text-align: center;
    font-size: 24px;
    color: #0015ff;
    margin: 20px 0;
}

#mensagem {
    text-align: center;
    color: #FF5733;
    font-weight: bold;
    margin-top: 20px;
    transition: opacity 0.5s ease;
    opacity: 0;
}

#mensagem.show {
    opacity: 1;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
